.pay_order_box {
  text-align: center;
  border: 1px solid rgba(7, 36, 86, 0.25);
  border-radius: 1rem;
  max-width: 350px;
  padding: 1rem 2rem;
  margin: 2rem auto;
  /* box-shadow: 0 6px 20px 0 rgba(7, 36, 86, 0.25); */
}

.pay_order_details {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.pay_order_amount {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.pay_order_instructions {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.pay_order_logo {
  display: unset;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.pay_order_qrcode {
  display: block;
  margin: 0 auto;
}

.pay_invoice {
  display: -webkit-inline-box;
  margin: 0 auto;
}

a.pay_order_text {
  display: block;
  color: #000;
  font-size: 0.85rem;
  text-transform: lowercase;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.65rem;
  transition: 0.2s;
}

a.pay_order_text:hover {
  color: #000;
}

.pay_order_paid {
  display: block;
  color: #000;
  font-size: 0.85rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.65rem;
  border: 1px solid rgba(44, 44, 44, 0.75);
  transition: 0.2s;
}

.pay_order_paid:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #f7931a;
  border: 1px solid #f7931a;
}

.order-status.status-completed {
  background: #d7f8a7;
  color: #0c942b;
}

.order-status.status-cancelled {
  background: #ffadad;
  color: #3c0808;
}